<section class="register">
    <div class="register__body">
        <div class="register__main">
            <h1 class="register__title">Регистрация</h1>
            <p class="register__prompt">
                Для создания аккаунта заполните поля формы
            </p>
            <form method="post" class="register__form">
                <label class="register__label">
                    <input
                        type="text"
                        class="register__input"
                        placeholder="Введите имя"
                    />
                    <p class="register__error">
                        Какая-то ошибка при заполнении
                    </p>
                </label>
                <label class="register__label">
                    <input
                        type="password"
                        class="register__input"
                        placeholder="Введите пароль"
                    />
                    <p class="register__error">
                        Какая-то ошибка при заполнении
                    </p>
                </label>
                <label class="register__label">
                    <input
                        type="email"
                        class="register__input"
                        placeholder="Введите email"
                    />
                    <p class="register__error">
                        Какая-то ошибка при заполнении
                    </p>
                </label>
                <label class="register__label">
                    <input
                        type="email"
                        class="register__input"
                        placeholder="Введите email"
                    />
                    <p class="register__error">
                        Какая-то ошибка при заполнении
                    </p>
                </label>

                <button class="register__submit">Зарегистрироваться</button>
            </form>
            <div class="register__links">
                <a routerLink="/login"> Есть аккаунт? Войти </a>
            </div>
        </div>
        <div class="register__secondary">
            <h2 class="register__subtitle">Добро пожаловать!</h2>
            <p class="register__text">
                Мы рады, что вы хотите стать частью <span>IS2023</span>!
                Надеемся, что вы сможете найти у нас все необходимое :)
            </p>
        </div>
    </div>
</section>
