// Основные цвета
$dark: #003153;
$sky: #00bfff;
$light: #afdafc;
$elise: #eaf3ff;
$aspid: #7b68ee;
$nosaturation: #354d73;

$yellow: #f8f32b;
$gold: #ffd700;
$peach: #ffcc99;

$error: #cc0605;

$white: #ffffff;
