<header class="header">
    <div class="container">
        <div class="header__body">
            <div class="header__logo">IS2023</div>
            <div class="header__burger"></div>
            <nav class="header__nav">
                <a routerLink="#" class="header__link">Главная</a>
                <a routerLink="#" class="header__link">Заказы</a>
                <a routerLink="#" class="header__link">Избранное</a>
            </nav>
            <div class="header__user">
                <div class="header__user-main">
                    <img
                        class="header__user-avatar"
                        src="https://kartinkin.net/uploads/posts/2022-03/1647529853_12-kartinkin-net-p-kartinki-kunitsi-12.jpg"
                        alt="avatar"
                    />
                    <p class="header__user-name">Юрий Симонов</p>
                </div>
            </div>
        </div>
    </div>
</header>
