// Шрифты
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

// Миксины
// @import "styles/_mixins";

// Обнуляющие стили
@import "styles/_nullstyle";

// Переменные
@import "styles/_vars";

// Скролл
// @import "styles/_scroll";

// toastr
// @import "ngx-toastr/toastr";

// Стили корневых тегов и классов
html {
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
}

body {
    background-color: $elise;
    color: $elise;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 144rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}
